
                    <!-- Toggle Between Modals -->

                          <!-- Modal 1-->
                          <div
                          class="modal fade"
                          id="modalToggle"
                          aria-labelledby="modalToggleLabel"
                          tabindex="-1"
                          style="display: none"
                          aria-hidden="true"
                        >
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalToggleLabel">Modal 1</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                                <div class="modal-body">                              
                                    <form>
                                    <div class="mb-3">
                                      <label class="form-label" for="basic-default-fullname">Nombre de la Encuesta</label>
                                      <input type="text" class="form-control" id="basic-default-fullname" placeholder="" />
                                    </div>
                                    <div class="mb-3">
                                      <label class="form-label" for="basic-default-company">Area dirigida</label>
                                      <input type="text" class="form-control" id="basic-default-company" placeholder="" />
                                      <!-- Seleccion -->
                                    </div>
                                    <div class="mb-3">
                                      <label class="form-label" for="basic-default-email">Creado por..</label>
                                      <div class="input-group input-group-merge">
                                        <input
                                          type="text"
                                          id="basic-default-email"
                                          class="form-control"
                                          placeholder="usuario"
                                          aria-label="john.doe"
                                          aria-describedby="basic-default-email2"
                                        />
                                      </div>
                                    </div>
                                    <div class="mb-3">
                                      <label class="form-label" for="basic-default-phone">Cantidad de personas que podran responder</label>
                                      <input
                                        type="number"
                                        id="basic-default-phone"
                                        class="form-control phone-mask"
                                        placeholder="10"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label class="form-label" for="basic-default-message">Fecha de termino</label>
                                      <input class="form-control" type="date" name="" id="">
                                    </div>
                                    
                                  </form>
                                  <div class="modal-footer">
                                    <button
                                      class="btn btn-primary"
                                      data-bs-target="#modalToggle2"
                                      data-bs-toggle="modal"
                                      data-bs-dismiss="modal"
                                    >
                                      Siguiente
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Cancelar
                                    </button>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>

                          <%- include('../forms/formEncuestaP2.ejs') %>

