

                        
                        <div class="modal fade" id="modalToggle2" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalToggleLabel2">Parte 2</h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <form>
                            <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="exampleFormControlSelect1" class="form-label">Categoria</label>
                                        <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                                          <option selected>Seleccionar Categorias</option>
                                          <option value="1">Categoria 1</option>
                                          <option value="2">Categoria 2</option>
                                          <option value="3">Categoria 3</option>
                                        </select>
                                      </div>
                                  
                                    <!-- Sección para las preguntas con checkboxes -->
                                    <div class="row mb-3">
                                        <div class="text-start-center">
                                            <label class="text-body" style="font-size: 25px;">Preguntas</label>
                                            <a href="/admin/listaPreguntas"><button class="btn btn-primary" type="button"><i href="" class="bx bx-plus"></i></button></a>
                                        </div>
                                        
                                        <div class="col-sm-10">
                                        <br>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="pregunta1" value="opcion1">
                                          <label class="form-check-label" for="pregunta1">
                                            Pregunta 1
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="pregunta2" value="opcion2">
                                          <label class="form-check-label" for="pregunta2">
                                            Pregunta 2
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="pregunta3" value="opcion3">
                                          <label class="form-check-label" for="pregunta3">
                                            Pregunta 3
                                          </label>
                                        </div>
                                        <!-- Agrega más preguntas según sea necesario -->
                                      </div>
                                    </div>
                                  
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary">Crear</button>
                              </div>
                          </div>
                        </div>
                      </div>
