

                    <!-- Vertically Centered Modal -->

                    <div class="modal fade" id="modalEditarA" tabindex="-1" aria-hidden="true" aria-labelledby="modalCenterPe">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalCenterA">Editar área</h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <form action="/forms/editarArea" method="post">
                            <div class="modal-body">
                                  <input type="hidden" name="id" id="id">
                                  <div class="mb-3">
                                    <label class="form-label" for="area">Area</label>
                                    <input type="text" class="form-control" id="area" name="area" placeholder="Ingresa una pregunta nueva" />
                                  </div>
                                  <div class="mb-3">
                                    <label class="form-label" for="calificacion">Calificacion</label>
                                    <input type="text" class="form-control" id="calificacion" value="0.0" name="calificacion" placeholder="0.0" readonly />
                                  </div>
                                  <div class="mb-3">
                                    <label class="form-label" for="user">Editado por...</label>
                                    <input type="number" class="form-control" id="user" name="user"  placeholder="<%= username %>" readonly/>
                                  </div>
  
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                                      <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                  
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>