<!-- Toggle Between Modals -->

<!-- Modal 1-->
<div class="modal fade" id="modalToggleEditEncuesta" aria-labelledby="modalToggleLabelEditEncuesta" tabindex="-1" style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalToggleLabel">Editar Encuesta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/forms/editarEncuesta" method="post">
          <input type="hidden" id="id" name="id" value=""> 
          <div class="mb-3">
            <label class="form-label" for="nombre">Nombre de la Encuesta</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value=""> 
          </div>
          <div class="mb-3">
            <label for="areaSelect" class="form-label">Área</label>
            <select class="form-select" id="areaSelect" name="area">
              <% areas.forEach(area=> { %>
                <option value="<%= area._id %>">
                  <%= area.nombre %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="canperson">Cantidad de personas que podrán responder</label>
            <input type="number" id="canperson" name="canperson" class="form-control phone-mask" value="">
          </div>
          <div class="mb-3">
            <label class="form-label" for="fechat">Fecha de término</label>
            <input class="form-control" type="date" name="fechat" id="fechat" value="">
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-target="#modalToggleEditEncuestaPreguntas" data-bs-toggle="modal" data-bs-dismiss="modal">
              Siguiente
            </button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../forms/formEditarEncuestaP2.ejs') %>