@media (max-width: 992px) { 
    .col-lg-8, .col-lg-4, .col-lg-6, .col-md-6, .col-md-4, .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .order-0, .order-1, .order-2 {
      order: 0; 
    }

    .card .card-body img {
      width: 100%;
      height: auto;
    }
  }