.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
    /* body {
        background-color: #000;
    } */
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    /* align-items: flex-start; */
    justify-content: center;
    align-items: stretch; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
  }
  
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    flex: 1 1 300px;
    margin: 0 15px 30px;
    display: flex;
    overflow: hidden;
    min-height: 200px;
    border-radius: 28px;
    flex-direction: column; /* Alinea contenido en columna */
    justify-content: space-between; /* Espacia el contenido internamente */
  }
  
  .ag-courses-item_link {
    flex-grow: 1; 
    display: block;
    /* display: flex; */
    padding: 30px 20px;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: #121212; */
    background-color: #c169ff;
    overflow: hidden;
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;    
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
  
    z-index: 2;
    position: relative;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 
  }
  .ag-courses-item_date-box {
    font-size: 20px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    /* color: #f9b234; */
    color: #a42020;
    /* color: #0004f7; */
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
    opacity: 0.8;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .bg-label-blank {
    font-size: 15px;
    background-color: #03c3ec !important;
    color: #d7f5fc !important;
    z-index: 2;
    position: relative;
  }
  /* .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  } */
  /* .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  } */
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

  .rating-container-response {
    text-align: right; /* Alinea el contenido a la derecha */
  }
  
  .star-icon-response {
    width: 36px; /* Ajusta el tamaño de la estrella según sea necesario */
    height: 36px;
    margin-right: 5px; /* Ajusta el espacio entre la estrella y el texto */
    margin-bottom: 15px;
    vertical-align: middle; /* Alinea verticalmente la estrella con el texto */
  }