<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <span class="app-brand-text demo menu-text fw-bolder ms-2"><a href="/mystery/home">Incognito UTN</a></span>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item <%= activeSection === 'dashboard' ? 'active' : '' %>">
      <a href="/mystery/home" class="menu-link">
        <i class="menu-icon tf-icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAHxJREFUSEvtlcEOgCAMQx8/ZvTgX5uoX6aJ8SBGRrOAeoArW7utrAQqn1AZH5VgBbpLMQswKMWpBNsDmJQrBQGNICvXpyMyX1gJkc3uXiWYgT6xTFaVcgdekEZwqOIdX+SmXpCmQTkN7os2AeO5eN47+cvM2m0qQPWi/xLsL40wGaOGZyIAAAAASUVORK5CYII=" />
        </i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <li class="menu-item <%= activeSection === 'encuestasPendientes' ? 'active' : '' %>">
      <a href="/admin/listaEncuesta" class="menu-link">
        <i class='menu-icon bx bx-receipt'></i>
        <div data-i18n="Without navbar">Encuestas pendientes</div>
      </a>
    </li>
    <li class="menu-item <%= activeSection === 'encuestasRespondidas' ? 'active' : '' %>">
      <a href="/admin/listaEncuesta" class="menu-link">
        <i class='menu-icon bx bxs-receipt'></i>
        <div data-i18n="Without navbar">Encuestas respondidas</div>
      </a>
    </li>

    <!-- Components -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Perfil</span></li>
    <!-- Cards -->
    <li class="menu-item <%= activeSection === 'perfil' ? 'active' : '' %>">
      <a href="/mystery/perfil" class="menu-link">
        <i class='menu-icon bx bxs-user-circle'></i>
        <div data-i18n="Basic">Cuenta</div>
      </a>
    </li>
    <!-- User interface -->
    <li class="menu-item">
      <a href="/auth/logout" class="menu-link">
        <i class="menu-icon tf-icons bx bx-log-out"></i>
        <div data-i18n="User interface">Cerrar Sesión</div>
      </a>
    </li>
  </ul>
</aside>
