<!-- src/views/index.ejs -->
<!DOCTYPE html>
<html
  lang="es"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <%- include('headerHome') %>
  </head>
  <body>
    <!-- Encabezado -->
<header>
  <div class="logo">
    <img src="../assets/img/resources/incognito.ico" alt="Logo de Mystery Shopper"> Incognito UTN
  </div>
  <nav id="nav-menu">
    <ul>
      <li><a href="#informacion">¿Qué es un Mystery Shopper?</a></li>
      <li><a href="#cuenta">Sobre nosotros</a></li>
    </ul>
  </nav>
  <div class="cta-buttons">
    <a href="#iniciar-sesion" class="cta">Iniciar Sesión</a>
    <a href="#registrarse" class="cta">Registrarse</a>
  </div>
  <div class="hamburger-menu" id="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<!-- Contenido principal -->

  <!-- Sección Hero -->
  <section class="hero">
      <div class="hero-content">
          <h1>"Calidad oculta, resultados visibles: Incognito UTN"</h1>
          <p>Conviértete en un Mystery Shopper y ayuda a mejorar el servicio al cliente.</p>
          <div class="hero-buttons">
              <a href="#como-funciona" class="buttons-hero-menu"><button type="button" class="btn btn-primary-home">
                <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; Cómo Funciona
              </button></a>
              <a href="#beneficios" class="buttons-hero-menu"><button type="button" class="btn btn-primary-home">
                <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; Beneficios
              </button></a>
              <a href="#registrarse" class="buttons-hero-menu"><button type="button" class="btn btn-primary-home">
                <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; Únete Ahora
              </button></a>
          </div>
      </div>
  </section>

  <!-- Sección de Información -->
  <section class="manage-shipments">
      <h2>Por qué ser un Mystery Shopper</h2>
      <div class="features">
          <div class="feature-item">
              <i class="icon icon-eye"></i>
              <p>Evalúa Servicios</p>
          </div>
          <div class="feature-item">
              <i class="icon icon-reward"></i>
              <p>Gana Recompensas</p>
          </div>
          <div class="feature-item">
              <i class="icon icon-community"></i>
              <p>Mejora tu Comunidad</p>
          </div>
          <div class="feature-item">
              <i class="icon icon-growth"></i>
              <p>Desarrollo Personal</p>
          </div>
      </div>
  </section>

  <!-- Pie de página -->
  <!-- Footer -->
  <footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
      </div>
      <div>
        <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
        <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

        <a
          href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
          target="_blank"
          class="footer-link me-4"
          >Documentation</a
        >

        <a
          href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
          target="_blank"
          class="footer-link me-4"
          >Support</a
        >
      </div>
    </div>
  </footer>
  <!-- / Footer -->
    

    <%- include('scriptsHome') %>
    <!-- Scripts -->
    <script>
      document.getElementById('hamburger-menu').addEventListener('click', function () {
        var navMenu = document.getElementById('nav-menu');
        navMenu.classList.toggle('open');
      });
    </script>
  </body>
</html>
